/* Set styles for the entire body */
body {
    /* Set page content to the center */
    display: flex;
    place-items: center;

    position: absolute;
    inset: 0;
    margin: 0 5.5rem;

    /* Disable highlighting when tapping on text */
    -webkit-tap-highlight-color: transparent;
}

/* Set styles for specific tags */
h1 {
    /* Set text style */
    font-family: "Outfit", serif;
    font-size: 80pt;
    color: #e8e8e8;
    margin: auto;

    /* Font-specific settings */
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.text {
    /* Set text style */
    font-family: "Outfit", serif;
    font-size: 15pt;
    color: #8b8b8b;
    margin: 0;
    max-width: 500px;

    /* Set text style for bold */
    b {
        color: #b9b9b9;
    }

    /* Set text style for bold */
    a {
        color: #616161;
    }

    /* Font-specific settings */
    font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal;
}

/* Set style for self-made classes */
.icons {
    /* Set text style */
    font-size: 30px;
    color: #e8e8e8;
    text-decoration: none;

    /* Configure text padding */
    padding-top: 18px;
    letter-spacing: 20px;

    /* Transition from hovering */
    transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;
}

.icons:hover {
    /* Change icon's color when hovering */
    color: #747474;

    /* Transition when hovering */
    transition: cubic-bezier(0.2, 0, 0.1, 1) 150ms;
}

.list {
    /* Configure list padding */
    padding-top: 18px;
    line-height: 22.5pt;
}

/* Set style for different target(s): phones */
@media screen and (max-width: 541px) {
    body {
      margin: 0 2rem;
    }

    /* Decrease title size */
    h1.title {
        font-size: 35pt;
    }

    /* Decrease text size */
    ul.text {
        font-size: 14.5pt;
    }
}
